<div class="group-view" *ngIf="groups.length > 0">
    <div class="groups-container">
        <h2>Grupos</h2>
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="groups" [cdkDropListConnectedTo]="[doneList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <mat-card class="group-item" *ngFor="let group of groups" cdkDrag>{{group.name}}</mat-card>
        </div>
    </div>

    <div class="groups-container">
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="selected" [cdkDropListConnectedTo]="[todoList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <h2>{{selected[0].name}}</h2>
        </div>
        <mat-list role="list">
            <mat-list-item *ngFor="let employee of employees" role="listitem">{{employee.name}}</mat-list-item>
        </mat-list>
    </div>