.group-view {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.groups-container {
    width: 400px;
    max-width: 100%;
    min-height: 400px;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.group-item{
    margin-bottom: 1rem;
}