<div class="group-view" *ngIf="groups.length > 0">
    <div class="groups-container">
        <h2>Grupos</h2>
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="groups" [cdkDropListConnectedTo]="[doneList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <mat-card class="group-item" *ngFor="let group of groups" cdkDrag>{{group.name}}</mat-card>
        </div>
    </div>

    <div class="groups-container">
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="selected" [cdkDropListConnectedTo]="[todoList]"
            class="group-name" (cdkDropListDropped)="drop($event)">
            <mat-checkbox [(ngModel)]="checked" (ngModelChange)="checkedChange()"></mat-checkbox>
            <h2 style="margin-left: 10px;">{{selected[0].name}}</h2>  

        </div>
        
        <mat-selection-list #employeeList [(ngModel)]="selectedEmployees">
            <mat-list-option checkboxPosition="before" *ngFor="let employee of employees" [value]="employee">
                {{employee.name}}
            </mat-list-option>
        </mat-selection-list>

        <div class="group-bottons">
            <p>
                {{employeeList.selectedOptions.selected.length}}
            </p>
    
            <button mat-raised-button color="primary" (click)="showAllSelectedEmployees()">Continuar</button>
        </div>
    </div>